/* General styles that apply to all themes */
.hyperlink:visited,
.hyperlink:focused,
.hyperlink:hover { 
	-fx-text-fill: -fx-accent; 
}

.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);
    -fx-control-inner-background:  rgb(50, 50, 50);
}

/* FlowListView */
.flow-list-view-item {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width: 1;
	-fx-border-style: solid;
}

.flow-list-view-item:hover {
	-fx-background-color: #3e3e3e;
}

.flow-list-view-item:selected {
	-fx-background-color: #3e3e3e;
	-fx-border-color: #2a2a2a;
	-fx-border-width: 1;
	-fx-border-style: solid;
}

/* TagListView */
.tag-list-view {
	-fx-vgap: 2;
	-fx-hgap: 2;
	-fx-padding: 5 0 0 0;
}

.tag-list-view-x {
	-fx-stroke: -fx-text-background-color;
	-fx-smooth: true;
	-fx-stroke-width: 1.2;
}

/* SortGraphic */
.sort-graphic-line {
	-fx-stroke: -fx-text-background-color;
}

/** Icons */
.menu .glyph-font {
	-fx-text-fill: -fx-text-base-color;
}

/** indeterminate progress bar override */
.progress-bar:indeterminate > .bar {
    -fx-background-color: -fx-accent;
}

/** value underline */
.value-label {
	-fx-border-color: -fx-text-base-color;
	-fx-border-width: 0 0 1 0;
	-fx-border-style: dashed;
}

/** screens */
.screen-view {
	-fx-background-color: black;
	-fx-background-insets: 5;
	-fx-border-color: linear-gradient(from 0% 0% to 25% 25%, reflect, rgb(25, 25, 25), rgb(51, 51, 51));
	-fx-border-width: 10;
	-fx-border-style: solid inside line-join round line-cap round;
	-fx-border-radius: 2;
}

.screen-view .label {
	-fx-text-fill: rgba(255, 255, 255);
}

/** bible editor verse number style */
.verse-number {
	-fx-font-weight: bold; 
	-fx-font-size: 0.8em;
}

/** tree cell drag n drop styles */
.tree-cell:drag-over-parent {
	-fx-background-color: rgba(153, 209, 255, 0.5);
}

.tree-cell:drag-over-sibling-top {
	-fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 1 0 0 0;
}

.tree-cell:drag-over-sibling-bottom {
	-fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
}