/* General styles that apply to all themes */
.hyperlink:visited,
.hyperlink:focused,
.hyperlink:hover { 
	-fx-text-fill: -fx-accent; 
}

/* FlowListView */
.flow-list-view-item {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width: 1;
	-fx-border-style: solid;
}

.flow-list-view-item:hover {
	-fx-background-color: rgba(153, 209, 255, 0.5);
}

.flow-list-view-item:selected {
	-fx-background-color: rgba(204, 232, 255);
	-fx-border-color: rgb(153, 209, 255);
	-fx-border-width: 1;
	-fx-border-style: solid;
}

/* TagListView */
.tag-list-view {
	-fx-vgap: 2;
	-fx-hgap: 2;
	-fx-padding: 5 0 0 0;
}

.tag-list-view-x {
	-fx-stroke: -fx-text-background-color;
	-fx-smooth: true;
	-fx-stroke-width: 1.2;
}

/* SortGraphic */
.sort-graphic-line {
	-fx-stroke: -fx-text-background-color;
}

/** Icons */
.menu .glyph-font {
	-fx-text-fill: -fx-text-base-color;
}

/** indeterminate progress bar override */
.progress-bar:indeterminate > .bar {
    -fx-background-color: -fx-accent;
}

/** value underline */
.value-label {
	-fx-border-color: -fx-text-base-color;
	-fx-border-width: 0 0 1 0;
	-fx-border-style: dashed;
}

/** screens */
.screen-view .monitor {
	-fx-background-color: black;
	-fx-background-insets: 5;
	-fx-border-color: linear-gradient(from 0% 0% to 25% 25%, reflect, rgb(25, 25, 25), rgb(51, 51, 51));
	-fx-border-width: 10;
	-fx-border-style: solid inside line-join round line-cap round;
	-fx-border-radius: 2;
}

/** bible editor verse number style */
.bible-verse-number {
	-fx-font-weight: bold; 
	-fx-font-size: 0.8em;
}

/** tree cell drag n drop styles */
.tree-cell:drag-over-parent {
	-fx-background-color: rgba(153, 209, 255, 0.5);
}

.tree-cell:drag-over-sibling-top {
	-fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 1 0 0 0;
}

.tree-cell:drag-over-sibling-bottom {
	-fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
}

.setup-pane .scroll-pane {
	-fx-background-insets: 0, 0 1 1 0;
	-fx-padding: 0;
}

/** slide editing */
.slide-edit-region:edit-hover {
	-fx-border-color: black, white;
	-fx-border-style: segments(2, 2) phase 0 outside line-join miter 2 line-cap butt, segments(2, 2) phase 2 outside line-join miter 2 line-cap butt;
	-fx-border-width: 1, 1;
}

.slide-edit-region:edit-selected {
	-fx-border-color: black, white;
	-fx-border-style: segments(4, 4) phase 0 outside line-join miter 2 line-cap butt, segments(4, 4) phase 4 outside line-join miter 2 line-cap butt;
	-fx-border-width: 1, 1;
}

.slide-edit-region:animation-hovered {
	-fx-background-color: rgba(255, 255, 0, 0.2);
}