.root {
	
}

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/* OVERRIDES */
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/** tree cell drag n drop styles */
.tree-cell:drag-over-parent {
	-fx-background-color: -color-neutral-muted !important;
}
.tree-cell:drag-over-sibling-top {
	-fx-border-color: -color-border-default;
    -fx-border-style: solid;
    -fx-border-width: 1 0 0 0;
}
.tree-cell:drag-over-sibling-bottom {
	-fx-border-color: -color-border-default;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
}

.menu-item > .graphic-container {
    -fx-padding: 0em 0.6em 0em 0em;
}

.input-group TextField {
	-fx-min-width: 0;
	/* This allows the text box to be sized small then grow allowing the label to be sized properly */
	-fx-pref-width: 50;
}

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/* PRAISENTER STYLES */
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/

/* SUPPORTED APPLICATION FONT SIZES */
.p-fs8  { -fx-font-size: 8px; }
.p-fs9  { -fx-font-size: 9px; }
.p-fs10 { -fx-font-size: 10px; }
.p-fs11 { -fx-font-size: 11px; }
.p-fs12 { -fx-font-size: 12px; }
.p-fs13 { -fx-font-size: 13px; }
.p-fs14 { -fx-font-size: 14px; }
.p-fs15 { -fx-font-size: 15px; }
.p-fs16 { -fx-font-size: 16px; }
.p-fs17 { -fx-font-size: 17px; }
.p-fs18 { -fx-font-size: 18px; }
.p-fs19 { -fx-font-size: 19px; }
.p-fs20 { -fx-font-size: 20px; }
.p-fs21 { -fx-font-size: 21px; }
.p-fs22 { -fx-font-size: 22px; }

/* UNSAVED CHANGES */
.p-unsaved-document > .tab-container > .tab-label {
	-fx-text-fill: -color-warning-fg;
}

.p-icon-error   { -fx-background-color: -color-danger-fg; }
.p-icon-pending { -fx-background-color: -color-warning-fg; }
.p-icon-success { -fx-background-color: -color-success-fg; }

.p-error-label {
	-fx-text-fill: -color-danger-fg;
}

.p-search-highlight {
	-fx-font-weight: bold;
	-fx-underline: true;
	-fx-fill: -color-accent-fg;
}

/* the verse number in the bible tree editor UI */
.tree-cell .p-verse-number,
.tree-cell .p-section-name {
	-fx-font-weight: bold; 
	-fx-font-size: 0.8em;
	/* -fx-min-width: 3em; */
	-fx-text-alignment: right;
	-fx-text-fill: -color-accent-fg;
}

.tree-cell .p-icon-book {
	-fx-background-color: -color-accent-emphasis;
}
.tree-cell .p-icon-bookmark {
	-fx-background-color: -color-accent-emphasis;
}
.tree-cell .p-icon-lyrics {
	-fx-background-color: -color-accent-emphasis;
}
.tree-cell .p-icon-user {
	-fx-background-color: -color-accent-emphasis;
}

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/* MAIN LAYOUT */
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/

/* MAINMENU */
.p-main-menu {}

/* FOOTER */
.p-footer {
	-fx-background-color: -color-accent-emphasis;
	-fx-padding: 0.2em 1em;
}
.p-footer .separator:vertical .line {
	-fx-border-width: 0;
	-fx-background-insets: 0;
}
.p-footer .label {
	-fx-text-fill: -color-fg-emphasis;
}
.p-footer .track {
	-fx-background-color: -color-bg-default;
}
.p-footer .bar {
	-fx-background-color: -color-neutral-muted;
}

/* LEFT NAVIGATION */
.p-left-navigation {}
.p-left-navigation > .tab-header-area {
	-fx-padding: 0;
}
.p-left-navigation > .tab-header-area > .tab-header-background {
	-fx-background-insets: 0;
}
.p-left-navigation > .tab-header-area > .headers-region > .tab {
	-fx-border-radius: 0;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-border-width: 0;
	-fx-padding: 0.083333em 0.5em 0.0769em 0.5em;
}
.p-left-navigation > .tab-header-area > .headers-region > .tab:hover {
	-fx-border-width: 3 0 0 0;
	-fx-border-color: -color-accent-emphasis;
}
.p-left-navigation > .tab-header-area > .headers-region > .tab:selected {
	-fx-border-width: 3 0 0 0;
	-fx-border-color: -color-accent-emphasis;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
}
.p-left-navigation > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
	-fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}
.p-left-navigation > .tab-content-area {
	-fx-border-width: 0 0 0 1;
	-fx-border-color: -color-border-muted;
	-fx-min-width: 0;
}
.p-left-navigation > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
	-fx-padding: 1.5em 1.1em;
}
.p-left-navigation-icon {
    -fx-background-color: -color-fg-default;
    -size: 2em;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-pref-height: -size;
    -fx-pref-width: -size;
}
.p-left-navigation > .tab-header-area > .headers-region > .tab:hover .p-left-navigation-icon,
.p-left-navigation > .tab-header-area > .headers-region > .tab:selected .p-left-navigation-icon {
	/* -fx-background-color: left-navigation-hover-font-color; */
}

.p-left-navigation-present-icon {
	-fx-shape: -icon-desktop;
}
.p-left-navigation-library-icon {
	-fx-shape: -icon-layers;
}
.p-left-navigation-settings-icon {
	-fx-shape: -icon-gear;
}
.p-left-navigation-tasks-icon {
	-fx-shape: -icon-history;
}
.p-left-navigation-editor-icon {
	-fx-shape: -icon-pencil;
}

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/* PAGES */
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/

/* SETTINGS PAGE */
.p-settings-page {}
.p-settings-page .p-settings-page-scroll {}
.p-settings-page .p-settings-page-scroll .p-settings-page-flow {}
.p-settings-page .p-settings-page-scroll .p-settings-page-flow .p-settings-page-group {
	-fx-padding: 1em;
	-fx-max-width: 550;
	-fx-pref-width: 550;
	-fx-min-width: 550;
}

/* TASKLIST PAGE */
.p-tasklist-page {
	-fx-padding: 1em;
}
.p-tasklist-page .p-tasklist-title {
	-fx-padding: 0 0 0.55em 0;
}
.p-tasklist-page .p-tasklist-split {
	-fx-padding: 0 0 0 0;
	-fx-border-width: 1 0 0 0;
	-fx-border-color: -color-border-muted;
}
.p-tasklist-page .p-tasklist-split .p-tasklist-page-list {
	-fx-padding: 0 0 0 0;
}
.p-tasklist-page .p-tasklist-split .p-tasklist-page-list .p-icon-container {
	-fx-max-width: 2em;
	-fx-pref-width: 2em;
	-fx-min-width: 2em;
}
.p-tasklist-page .p-tasklist-split .p-tasklist-page-list .p-icon-error {
	-fx-shape: -icon-error;
}
.p-tasklist-page .p-tasklist-split .p-tasklist-page-list .p-icon-pending {
	-fx-shape: -icon-pending;
}
.p-tasklist-page .p-tasklist-split .p-tasklist-page-list .p-icon-success {
	-fx-shape: -icon-success;
}
.p-tasklist-page .p-tasklist-split .p-tasklist-page-fields {
	-fx-padding: 1em 0 1em 1em;
	-fx-spacing: 0.5em;
}

/* LIBRARY PAGE */
.p-library-page {}

/* PRESENT PAGE */
.p-present-page {}
.p-present-page .p-present-page-controller-list {
	-fx-padding: 0 1em 0 0;
}
.p-present-page .p-present-page-controller-add {
	-fx-padding: 1em 1em 0 0;
}
.p-present-page .p-present-page-controller {}

/* ABOUT DIALOG */
.p-about {}
.p-about-left,
.p-about-right {
	-fx-padding: 1em;
	-fx-spacing: 1em;
}

/* WORKSPACE SELECTION PANE */
.p-workspace-selection-pane {
	-fx-pref-width: 600;
	-fx-pref-height: 380;
	-fx-spacing: 0.2em;
}
.p-workspace-selection-pane-title {
	-fx-font-weight: bold;
}
.p-workspace-selection-pane-description {}
.p-workspace-selection-pane-overview {
	-fx-padding: 0.8em;
	-fx-background-color: -color-neutral-subtle;
	-fx-spacing: 0.5em;
}
.p-workspace-selection-pane-selection {
	-fx-padding: 0.8em 0.8em 0.5em 0.8em;
	-fx-spacing: 0.5em;
}
.p-workspace-selection-pane-buttons {
	-fx-padding: 1.4em 0.8em 0.8em 0.8em;
	-fx-spacing: 0.5em;
}
.p-workspace-selection-pane-launch-button {
	-fx-font-weight: bold;
}
.p-workspace-selection-pane-warning {
	-fx-padding: 0em 0.8em;
}

/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/* CONTROLS */
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/
/********************************************************************************/

/** FLOW LIST */
.p-flow-list-view {}
.p-flow-list-view-tiles {
	-fx-padding: 0.5em;
	-fx-vgap: 0.5em;
	-fx-hgap: 0.5em;
}
.p-flow-list-view-cell {
	-fx-padding: 0.25em;
	-fx-alignment: top-center;
}
.p-flow-list-view-cell:hover { 
	-fx-background-color: -color-neutral-subtle;
}
.p-flow-list-view-cell:selected {
	-fx-background-color: -color-neutral-muted;
	-fx-text-fill: -color-fg-default;
}
.p-flow-list-view-drag-selection-area {
	-fx-fill: -color-neutral-subtle;
	-fx-stroke: -color-border-default;
	-fx-smooth: false;
	-fx-stroke-width: 1;
}

/** LIBRARY LIST */
.p-library-list {}
.p-library-list .p-library-list-search {
	-fx-pref-width: 300;
}
.p-library-list .p-flow-list-view .viewport {}
.p-library-list .p-flow-list-view-tiles {}
.p-library-list-right {
	-fx-padding: 1.5em;
}
.p-library-list-filter-bar {
	-fx-vgap: 0.5em;
	-fx-hgap: 0.5em;
	-fx-padding: 0.5em;
}
.p-library-list-filter-bar .custom-text-field .p-icon-container {
	-fx-max-width: 2em;
	-fx-pref-width: 1.5em;
}
/* NOTE: static widths here was better even with font-size based zoom */
.p-library-list-cell {
	-fx-alignment: top-center;
	-fx-pref-width: 120;
}
.p-library-list-cell-graphic {
	-fx-alignment: bottom-center;
	-fx-pref-height: 100;
	-fx-max-height: 100;
	-fx-min-height: 100;
}
.p-library-list-cell-bible > .p-library-list-cell-thumbnail {
	-fx-image: url("/org/praisenter/images/bible-icon.png");
}
.p-library-list-cell-song > .p-library-list-cell-thumbnail {
	-fx-image: url("/org/praisenter/images/song-lyrics-icon.png");
}
.p-library-list-cell-slide,
.p-library-list-cell-image,
.p-library-list-cell-bible,
.p-library-list-cell-song,
.p-library-list-cell-audio {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 2, 0, 2, 2);
}
.p-library-list-cell-slide {
	-fx-background-image: url("/org/praisenter/images/transparent.png");
	-fx-background-repeat: repeat;
}
.p-library-list-cell-label {
	-fx-text-alignment: center;
	-fx-padding: 0.5em 0 0 0;
}

/* LIBRARY LIST DETAIL */
.p-library-item-details {
	-fx-spacing: 0.5em;
}
.p-library-item-details-value-list {
	-fx-hgap: 0.5em;
	-fx-vgap: 0.5em;
}

/** MEDIA PREVIEW */
.p-media-preview {}
.p-media-preview-controls {
	-fx-spacing: 1em;
	-fx-alignment: CENTER;
	-fx-padding: 0.2em 0 0 0;
}

/** TAG LIST VIEW */
.p-tag-list-view {}
.p-tag-list-view-tags {
	-fx-padding: 0.5em 0 0 0;
	-fx-vgap: 0.2em;
	-fx-hgap: 0.2em;
}
.p-tag-list-view .p-icon-container {
	-fx-max-width: 2em;
	-fx-pref-width: 2em;
}
.p-tag-list-view-tag {}
.p-tag-list-view-tag-x {
	-fx-stroke: -color-fg-default;
}
.p-tag-list-view-tag:hover .p-tag-list-view-tag-x {
	-fx-stroke: -color-fg-default;
}

/* DISPLAY CONTROLLER */
.p-display-controller {
	-fx-min-width: 52em;
	-fx-padding: 1em;
}
.p-display-controller-header {
	-fx-spacing: 0.5em;
	-fx-padding: 0 0 0.5em 0 0;
}
.p-display-controller-name {}
.p-display-controller-left,
.p-display-controller-right {
	-fx-spacing: 0.5em;
}
.p-display-controller-right {
	-fx-max-width: 34em;
	-fx-padding: 0 0 0 0.5em;
}
.p-display-controller-chk-row {
	-fx-spacing: 0.5em;
}
.p-display-controller-btn-grid {
	-fx-vgap: 0.5em;
	-fx-hgap: 0.5em;
}
.p-display-controller-tabs {}
.p-display-controller-tab {
	-fx-padding: 0.5em 0 0 0;
	-fx-spacing: 0.5em;
}
/* override the seach text bar length on the display controller */
.p-display-controller .p-library-list .p-library-list-search {
	-w: 32em;
	-fx-pref-width: -w;
	-fx-min-width: -w;
	-fx-max-width: -w;
}
.p-slide-template-list-cell {}
.p-slide-template-list-cell-graphic {
	-fx-background-image: url("/org/praisenter/images/transparent.png");
	-fx-background-repeat: repeat;
}

/* SLIDE LIST */
.p-slide-list {
	-fx-pref-width: 17em; /* ~200px */
}
.p-slide-list-cell {
	-fx-alignment: CENTER;
	-fx-padding: 0.5em 0 0.8em 0;
	-fx-pref-width: 14em;
	-fx-cell-size: null;
}
.p-slide-list-cell-slide-view {
	-fx-pref-width: 14.45em; /* ~170px */
	-fx-pref-height: 7.65em; /* ~90px */
}

/* BIBLE NAVIGATION (CONTROLLER) */
.p-bible-nav {
	-fx-hgap: 0.5em;
	-fx-vgap: 0.5em;
}

/* SONG NAVIGATION (CONTROLLER) */
.p-song-nav {
	-fx-spacing: 2em;
}
.p-song-nav-lyric-selection {
	-fx-hgap: 0.5em;
	-fx-vgap: 0.5em;
}
.p-song-nav-sections {
	-fx-hgap: 0.5em;
	-fx-vgap: 0.5em;
}
.p-song-nav .custom-text-field .p-icon-container {
	-fx-max-width: 2em;
	-fx-pref-width: 1.5em;
}

/* SEARCH MODALS */
.p-bible-search,
.p-song-search {
	-fx-spacing: 0.5em;
	-fx-padding: 1em;
}
.p-bible-search-filters,
.p-song-search-filters {
	-fx-spacing: 0.5em;
	-fx-hgap: 0.5em;
	-fx-vgap: 0.5em;
}
.p-bible-search-filters .custom-text-field .p-icon-container,
.p-song-search-filters .custom-text-field .p-icon-container {
	-fx-max-width: 2em;
	-fx-pref-width: 1.5em;
}
.p-bible-search .p-bible-search-card,
.p-song-search .p-song-search-card {
	-fx-padding: 0.5em 1em;
}
.p-bible-search .p-bible-search-card-selected,
.p-song-search .p-song-search-card-selected {
	-fx-border-color: -color-accent-emphasis;
	-fx-border-width: 0 3 0 0;
}
.p-progress-overlay {}
.p-progress-overlay .spinner {}
.p-progress-overlay-indicator {}

/* SLIDER+FIELD */
.p-slider-field {
	-fx-spacing: 0.5em;
}
.p-slider-field Slider {}
.p-slider-field TextField {
	-fx-pref-width: 4.5em;
	-fx-max-width: 4.5em;
	-fx-min-width: 4.5em;
}

/* DOCUMENTS TOOLBAR */
.p-documents-toolbar {}

/* DOCUMENTS SELECTION EDITOR */
.p-documents-pane-selection-editor {
	-fx-min-width: 350;
	-fx-pref-width: 350;
	-fx-max-width: 500;
}

/* EDITOR FIELDS */
.p-editor-titled-pane {
	/* -fx-border-width: 0;
	-fx-background-insets: 0; */
}
.p-editor-titled-pane > .title,
.p-editor-titled-pane:collapsed > .title,
.p-editor-titled-pane:expanded > .title {
	/* -fx-border-width: 0 0 1 0; */
	-fx-background-color: -color-bg-default, -color-neutral-subtle;
	-fx-background-insets: 0, 0 0 2 0;
	-fx-border-width: 0, 0;
	-fx-border-radius: 0, 0;
	-fx-background-radius: 0, 0;
}
.p-editor-titled-pane > .content {
	-fx-padding: 1em;
	-fx-border-width: 0;
	-fx-border-radius: 0;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}
.p-editor-divider {
	-fx-spacing: 5;
}
.p-editor-field-group {
	-fx-spacing: 7;
}
.p-editor-field-container {
	-fx-spacing: 0.2em;
}
.p-editor-field-label {
	-fx-padding: 0.416666em 0; /* 5 0 */
}
.p-editor-field {
	-fx-min-width: 0;
}
.p-editor-field-description {}

/* STROKE PICKER */
.p-slide-stroke-picker .p-slide-dash-pattern {
	-fx-stroke: -color-fg-default;
}

/* the square in the middle of the 4 text boxes when editing the padding for text component */
.p-slide-padding-picker {}
.p-slide-padding-picker-top,
.p-slide-padding-picker-bottom { 
	-fx-max-width: 150; 
}
.p-slide-padding-picker-left,
.p-slide-padding-picker-right { 
	-fx-min-width: 100; 
}
.p-padding-box {
	-fx-fill: transparent;
	-fx-stroke: -color-accent-emphasis;
	-fx-stroke-type: outside;
	-fx-stroke-line-cap: butt;
	-fx-stroke-line-join: miter;
	-fx-stroke-miter-limit: 10;
	-fx-stroke-width: 1;
}

/* GRADIENT PREVIEW */
.p-gradient-preview {
	-fx-border-width: 1;
	-fx-border-color: -color-border-default;
}
.p-gradient-preview-background {
	-fx-background-image: url("/org/praisenter/images/transparent.png");
	-fx-background-repeat: repeat;
}

/* MEDIA SELECTION DIALOG */
.p-media-dialog > .content {
	-fx-padding: 0;
	/* NOTE: only setting the minwidth worked... */
	-fx-min-width: 1000;
	-fx-pref-width: 1000;
	-fx-pref-height: 600;
	-fx-min-height: 600;
}

.p-media-dialog .button-bar {
	-fx-border-width: 1 0 0 0;
	-fx-border-color: -color-border-muted;
}

/* This fixes excessive padding-top on the buttons */
.p-media-dialog > .button-bar > .container {
	-fx-padding: 1em;
}

/* BIBLE/SONG/SLIDE EDITOR */
.p-bible-editor,
.p-song-editor {
	-fx-padding: 0;
}
.p-bible-editor .tree-view,
.p-song-editor .tree-view {
	-fx-padding: 0;
	-fx-border-width: 0;
	/* -fx-background-color: sunken; */
}
.p-bible-editor .tree-view .tree-cell,
.p-song-editor .tree-view .tree-cell {
	/* -fx-background-color: sunken; */
}
.p-bible-editor-bulk,
.p-song-editor-bulk {
	-fx-spacing: 0.5em;
	-fx-padding: 0.5em;
}
.p-bible-editor-bulk-buttons,
.p-song-editor-bulk-buttons {
	-fx-spacing: 0.5em;
}
.p-bible-editor-bulk-buttons > .button,
.p-song-editor-bulk-buttons > .button {}
.p-slide-editor {
	-fx-padding: 2em;
	-fx-border-width: 0;
}
