/** tree cell drag n drop styles */
.tree-cell:drag-over-parent {
	-fx-background-color: rgba(153, 209, 255, 0.5);
}

.tree-cell:drag-over-sibling-top {
	-fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 1 0 0 0;
}

.tree-cell:drag-over-sibling-bottom {
	-fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
}

/* 
Bug fix for expand/collapse indicator in JavaFX 10 (10/11/2018)
https://stackoverflow.com/questions/50011276/javafx-treeview-expand-collapse-disclosure-arrow-bug 
*/
.tree-cell > .tree-disclosure-node > .arrow,
.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-rotate: 0;
}

.tree-cell:expanded > .tree-disclosure-node > .arrow,
.tree-table-row-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-rotate: 90;
}

/* ============== Components ================= */


/* FlowListView */
.flow-list-view {}
.flow-list-view-tiles {
	-fx-padding: 5 5 5 5;
	-fx-vgap: 5;
	-fx-hgap: 5;
}
.flow-list-view-cell {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width: 1;
	-fx-border-style: solid;
	-fx-padding: 2 2 2 2;
	-fx-alignment: top-center;
}
.flow-list-view-cell:hover { 
	-fx-background-color: rgba(153, 209, 255, 0.5);
}
.flow-list-view-cell:selected {
	-fx-background-color: rgb(204, 232, 255);
	-fx-border-color: rgb(153, 209, 255);
	-fx-border-width: 1;
	-fx-border-style: solid;
}
.flow-list-view-drag-selection-area {
	-fx-fill: rgba(255, 204, 204, 0.5);
	-fx-stroke: rgb(255, 153, 153);
	-fx-smooth: false;
	-fx-stroke-width: 1;
}



.root {
	menu-bg-color: cornflowerblue;
	menu-fg-color: white;
	menu-ha-color: derive(menu-bg-color, -10%);
}

.navigation-bar {
	-fx-padding: 0;
	-fx-background-color: menu-bg-color;
	-fx-spacing: 0;
}
.navigation-bar .menu {
	-fx-padding: 20;
	-fx-background-insets: 0;
	-fx-min-height: 61;
}
.navigation-bar > .container > .menu-button:hover,
.navigation-bar > .container > .menu-button:focused,
.navigation-bar > .container > .menu-button:showing {
	-fx-background-color: menu-ha-color;
}
.navigation-bar .menu > .right-container > .arrow {
	-fx-background-color: menu-fg-color;
}
.navigation-bar .menu:hover,
.navigation-bar .menu:focused,
.navigation-bar .menu:pressed {
	-fx-background-color: menu-ha-color;
}
.navigation-bar .context-menu {
	-fx-padding: 0;
	-fx-background-color: menu-bg-color;
}
.navigation-bar .context-menu .separator:horizontal .line {
    -fx-border-color: menu-ha-color;
    -fx-border-width: 1 0 0 0;
    -fx-border-insets: 0;
}
.navigation-bar .menu > .label {
	-fx-text-fill: menu-fg-color;
	-fx-font-size: 1.3em;
	-fx-font-weight: bold;
}
.navigation-bar .menu-item {
	-fx-padding: 10;
	-fx-min-height: 61;
}
.navigation-bar .menu-item > .label {
	-fx-text-fill: menu-fg-color;
	-fx-font-size: 1.3em;
	-fx-font-weight: bold;
}
.navigation-bar .menu-item:hover,
.navigation-bar .menu-item:focused {
	-fx-background-color: menu-ha-color;
}
.navigation-bar .menu-item .graphic-container {
	-fx-padding: 10;
}
.navigation-bar .menu-item .graphic-container .label {
	-fx-text-fill: menu-fg-color;
}

.navigation-bar .hamburger {
	-fx-spacing: 6;
}

.navigation-bar .hamburger Line {
	-fx-stroke-width: 3;
	-fx-stroke: menu-fg-color;
	-fx-fill: menu-fg-color;
}

/* BibleEditorPane */
.bible-editor-pane {}
.bible-editor-pane-tree-view {}
.bible-tree-cell {}
.bible-tree-cell-verse-number {
	-fx-font-weight: bold; 
	-fx-font-size: 0.8em;
}


/* BibleListCell */
.bible-list-cell {
	-fx-alignment: top-center;
	-fx-pref-width: 110;
}
.bible-list-cell-thumbnail {
	-fx-image: url("/org/praisenter/images/bible-icon.png");
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 2, 0, 2, 2);
}
.bible-list-cell-progress {}
.bible-list-cell-wrapper {
	-fx-alignment: bottom-center;
	-fx-pref-height: 100;
	-fx-max-height: 100;
	-fx-min-height: 100;
}
.bible-list-cell-name {
	-fx-text-alignment: center;
	-fx-padding: 5 0 0 0;
	-fx-wrap-text: true;
}