/** tree cell drag n drop styles */
.tree-cell:drag-over-parent {
	-fx-background-color: -fx-faint-focus-color;
}

.tree-cell:drag-over-sibling-top {
	-fx-border-color: -fx-text-base-color;
    -fx-border-style: solid;
    -fx-border-width: 1 0 0 0;
}

.tree-cell:drag-over-sibling-bottom {
	-fx-border-color: -fx-text-base-color;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
}

/** force glyphs to color the same way as the text */
.tree-view:focused .tree-cell:selected .glyph-font {
	-fx-text-fill: -fx-focused-text-base-color;
}

.tree-cell:selected .glyph-font {
	-fx-text-fill: -fx-text-base-color;
}

/* 
Bug fix for expand/collapse indicator in JavaFX 10 (10/11/2018)
https://stackoverflow.com/questions/50011276/javafx-treeview-expand-collapse-disclosure-arrow-bug 
*/
.tree-cell > .tree-disclosure-node > .arrow,
.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-rotate: 0;
}

.tree-cell:expanded > .tree-disclosure-node > .arrow,
.tree-table-row-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-rotate: 90;
}

/* ============== Reusable Components ================= */

/* FlowListView */
.flow-list-view {}
.flow-list-view-tiles {
	-fx-padding: 5 5 5 5;
	-fx-vgap: 5;
	-fx-hgap: 5;
}
.flow-list-view-cell {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width: 1;
	-fx-border-style: solid;
	-fx-padding: 2 2 2 2;
	-fx-alignment: top-center;
}
.flow-list-view-cell:hover { 
	-fx-background-color: -fx-faint-focus-color; /*rgba(153, 209, 255, 0.5)*/
}
.flow-list-view-cell:selected {
	-fx-background-color: derive(-fx-faint-focus-color, 20%); /*rgb(204, 232, 255);*/
	-fx-border-color: -fx-faint-focus-color; /*rgb(153, 209, 255)*/
	-fx-border-width: 1;
	-fx-border-style: solid;
}
.flow-list-view-drag-selection-area {
	-fx-fill: -fx-faint-focus-color; /*rgba(255, 204, 204, 0.5);*/
	-fx-stroke: -fx-focus-color; /*rgb(255, 153, 153);*/
	-fx-smooth: false;
	-fx-stroke-width: 1;
}

/** TagListView */
.tag-list-view {}
.tag-list-view-tags {
	-fx-vgap: 2;
	-fx-hgap: 2;
}
.tag-list-view .tag-list-view-tags .tag {}

/** MediaPreview */
.media-preview {}
.media-preview .media-preview-controls {
	-fx-spacing: 2;
	-fx-alignment: CENTER;
	-fx-padding: 2 0 0 0;
}

/** Spinner w/ overlay */
.progress-overlay {
	-fx-background-color: rgba(255, 255, 255, 0.3);
}
.progress-overlay-indicator {}

/* ============== Praisenter Components ================= */

/* the action bar (vertical button bar) */
.action-bar {}
.action-bar .button {}
.action-bar .menu-button {}
/** don't show the caret for menu buttons on the action bar */
.action-bar .menu-button > .label {
	-fx-alignment: CENTER;
}
.action-bar .menu-button > .arrow-button,
.action-bar .menu-button > .arrow-button > .arrow {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
	-fx-padding: 0;
	-fx-shape: null;
}

/* styles for the item in the library listing */
.library-list-cell {
	-fx-alignment: top-center;
	-fx-pref-width: 110;
}
.library-list-cell > .image-wrapper {
	-fx-alignment: bottom-center;
	-fx-pref-height: 100;
	-fx-max-height: 100;
	-fx-min-height: 100;
}
.library-list-cell > .image-wrapper > .image-underlay > .bible {
	-fx-image: url("/org/praisenter/images/bible-icon.png");
}
.library-list-cell > .image-wrapper > .image-underlay > .song {
	-fx-image: url("/org/praisenter/images/song-lyrics-icon.png");
}
.library-list-cell > .image-wrapper > .image-underlay {
}
.library-list-cell > .image-wrapper > .dropshadow-underlay {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 2, 0, 2, 2);
}
.library-list-cell > .image-wrapper > .transparent-underlay {
	-fx-background-image: url("/org/praisenter/images/transparent.png");
	-fx-background-repeat: repeat;
}
.library-list-cell > Label {
	-fx-text-alignment: center;
	-fx-padding: 5 0 0 0;
	/*-fx-wrap-text: true;*/
}

/* grid control for the right side editor area */
.edit-grid {
	-fx-hgap: 3;
	-fx-vgap: 3;
}

/* ============== Praisenter Other ================= */

/* the verse number in the bible tree editor UI */
.tree-cell .verse-number,
.tree-cell .section-name {
	-fx-font-weight: bold; 
	-fx-font-size: 0.8em;
}

.error-label {
	-fx-text-fill: RED;
}

/* the square in the middle of the 4 text boxes when editing the padding for text component */
.padding-box {
	-fx-fill: transparent;
	-fx-stroke: BLACK;
	-fx-stroke-type: outside;
	-fx-stroke-line-cap: butt;
	-fx-stroke-line-join: miter;
	-fx-stroke-miter-limit: 10;
	-fx-stroke-width: 1;
}










