/* .root {
	 -fx-base: rgba(20, 20, 20, 255);
} */

/* BASE JAVA FX OVERRIDES */
.table-view:focused .table-cell:selected Text,
.table-view:focused .table-row-cell:selected Text {
	-fx-fill: -fx-focused-text-base-color;
}
.split-pane {
	-fx-padding: 0;
}
.context-menu .separator:horizontal {
	-fx-padding: 0.5em 0;
}
.menu-item {
	-fx-padding: 0.3em 1em 0.3em 1em;
}
.menu-item > .accelerator-text {
    -fx-padding: 0 0 0 3em;
}
.slider { -fx-min-height: 2em; }
.check-box { -fx-min-height: 2em; }

/* SUPPORTED APPLICATION FONT SIZES */
.p-fs8  { -fx-font-size: 8px; }
.p-fs9  { -fx-font-size: 9px; }
.p-fs10 { -fx-font-size: 10px; }
.p-fs11 { -fx-font-size: 11px; }
.p-fs12 { -fx-font-size: 12px; }
.p-fs13 { -fx-font-size: 13px; }
.p-fs14 { -fx-font-size: 14px; }
.p-fs15 { -fx-font-size: 15px; }
.p-fs16 { -fx-font-size: 16px; }
.p-fs17 { -fx-font-size: 17px; }
.p-fs18 { -fx-font-size: 18px; }
.p-fs19 { -fx-font-size: 19px; }
.p-fs20 { -fx-font-size: 20px; }
.p-fs21 { -fx-font-size: 21px; }
.p-fs22 { -fx-font-size: 22px; }

.p-error-label {
	-fx-text-fill: RED;
}

/* the square in the middle of the 4 text boxes when editing the padding for text component */
.p-padding-box {
	-fx-fill: transparent;
	-fx-stroke: BLACK;
	-fx-stroke-type: outside;
	-fx-stroke-line-cap: butt;
	-fx-stroke-line-join: miter;
	-fx-stroke-miter-limit: 10;
	-fx-stroke-width: 1;
}

.p-search-highlight {
	-fx-font-weight: bold;
	-fx-underline: true;
	-fx-fill: blue;
}

/* the verse number in the bible tree editor UI */
.p-verse-number,
.p-section-name {
	-fx-font-weight: bold; 
	-fx-font-size: 0.8em;
}

/** tree cell drag n drop styles */
.tree-cell:drag-over-parent {
	-fx-background-color: -fx-faint-focus-color;
}
.tree-cell:drag-over-sibling-top {
	-fx-border-color: -fx-text-base-color;
    -fx-border-style: solid;
    -fx-border-width: 1 0 0 0;
}
.tree-cell:drag-over-sibling-bottom {
	-fx-border-color: -fx-text-base-color;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
}

/** force glyphs to color the same way as the text */
.tree-view:focused .tree-cell:selected .glyph-font {
	-fx-text-fill: -fx-focused-text-base-color;
}
.tree-cell:selected .glyph-font {
	-fx-text-fill: -fx-text-base-color;
}

/* WORKSPACE SELECTION PANE */
.p-workspace-selection-pane {
	-fx-pref-width: 600;
}
.p-workspace-selection-pane-title {
	-fx-font-weight: bold;
}
.p-workspace-selection-pane-description {}
.p-workspace-selection-pane-overview {
	-fx-padding: 0.8em;
	-fx-background-color: white;
	-fx-spacing: 0.5em;
}
.p-workspace-selection-pane-selection {
	-fx-padding: 0.8em 0.8em 0.5em 0.8em;
	-fx-spacing: 0.5em;
}
.p-workspace-selection-pane-buttons {
	-fx-padding: 1.4em 0.8em 0.8em 0.8em;
	-fx-spacing: 0.5em;
}
.p-workspace-selection-pane-launch-button {
	-fx-font-weight: bold;
}
.p-workspace-selection-pane-warning {
	-fx-padding: 0.5em 2em 0 2em;
	-fx-spacing: 0.5em;
}

/* FORM FIELD */
.p-form-field {
	-fx-padding: 0.8em;
	-fx-spacing: 0.5em;
}
.p-form-field:hover {
	-fx-background-color: -fx-base;
}
.p-form-field-label {
	-fx-font-weight: bold;
}
.p-form-field-value {
	-fx-spacing: 0.5em;
}
.p-form-field-help {}

/* FORM FIELD GROUP */
.p-form-field-group > .title {
	-fx-background-color: -fx-text-box-border, -fx-base;
	-fx-background-insets: 0, 0 0 1 0;
	-fx-background-radius: 0;
	-fx-font-size: 1.5em;
}
.p-form-field-group:focused > .title > .arrow-button > .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0;
    -fx-effect: null;
}
.p-form-field-group > *.content {
	-fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-background-color: null;
}
.p-form-field-group > .content > * {
	-fx-padding: 0.5em 0 0 0;
}

/* FORM FIELD SECTION */
.p-form-field-section {
	-fx-hgap: 0.3em;
	-fx-vgap: 0.3em;
}
.p-form-field-group > .content .p-form-field-section {
	-fx-padding: 0.8em;
}
.p-form-field-group > .content .p-form-field-section .p-form-field-section {
	-fx-padding: 0em;
}

/* MAIN MENU */
.p-main-menu {
	-fx-padding: 0;
	-fx-background-color: -fx-background;
}

/* TAB NAVIGATION */
.p-tab-navigation {}
.p-tab-navigation > .tab-header-area {
	-fx-padding: 0;
}
.p-tab-navigation > .tab-header-area > .tab-header-background {
	-fx-background-color: -fx-background;
	-fx-background-insets: 0;
}
.p-tab-navigation > .tab-header-area > .headers-region > .tab {
	-fx-background-color: -fx-background;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
}
.p-tab-navigation > .tab-header-area > .headers-region > .tab:hover {
	-fx-background-color: -fx-hover-base;
	-fx-border-width: 5 0 0 0;
	-fx-border-color: -fx-hover-base;
}
.p-tab-navigation > .tab-header-area > .headers-region > .tab:selected {
	-fx-border-width: 5 0 0 0;
	-fx-border-color: -fx-accent;
	-fx-border-radius: 0;
	-fx-background-color: -fx-hover-base;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
}
.p-tab-navigation > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
	-fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}
.p-tab-navigation > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
	-fx-padding: 1.5em 1.1em;
}
.p-tab-navigation-icon {
    -fx-background-color: black;
    -size: 2em;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-pref-height: -size;
    -fx-pref-width: -size;
}
.p-tab-navigation > .tab-header-area > .headers-region > .tab:hover .p-tab-navigation-icon {
	-fx-background-color: -fx-accent;
}

/* https://linearicons.com/ */
.p-tab-navigation-present-icon {
	-fx-shape: "M17.5 2h-16c-0.827 0-1.5 0.673-1.5 1.5v10c0 0.827 0.673 1.5 1.5 1.5h7.5v2h-3.5c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5h8c0.276 0 0.5-0.224 0.5-0.5s-0.224-0.5-0.5-0.5h-3.5v-2h7.5c0.827 0 1.5-0.673 1.5-1.5v-10c0-0.827-0.673-1.5-1.5-1.5zM18 13.5c0 0.276-0.224 0.5-0.5 0.5h-16c-0.276 0-0.5-0.224-0.5-0.5v-10c0-0.276 0.224-0.5 0.5-0.5h16c0.276 0 0.5 0.224 0.5 0.5v10z";
}
.p-tab-navigation-library-icon {
	-fx-shape: "M10 12c-0.066 0-0.132-0.013-0.194-0.039l-9.5-4c-0.185-0.078-0.306-0.26-0.306-0.461s0.121-0.383 0.306-0.461l9.5-4c0.124-0.052 0.264-0.052 0.388 0l9.5 4c0.185 0.078 0.306 0.26 0.306 0.461s-0.121 0.383-0.306 0.461l-9.5 4c-0.062 0.026-0.128 0.039-0.194 0.039zM1.788 7.5l8.212 3.457 8.212-3.457-8.212-3.457-8.212 3.457z M10 15c-0.066 0-0.132-0.013-0.194-0.039l-9.5-4c-0.254-0.107-0.374-0.4-0.267-0.655s0.4-0.374 0.655-0.267l9.306 3.918 9.306-3.918c0.254-0.107 0.548 0.012 0.655 0.267s-0.012 0.548-0.267 0.655l-9.5 4c-0.062 0.026-0.128 0.039-0.194 0.039z M10 18c-0.066 0-0.132-0.013-0.194-0.039l-9.5-4c-0.254-0.107-0.374-0.4-0.267-0.655s0.4-0.374 0.655-0.267l9.306 3.918 9.306-3.918c0.254-0.107 0.548 0.012 0.655 0.267s-0.012 0.548-0.267 0.655l-9.5 4c-0.062 0.026-0.128 0.039-0.194 0.039z";
}
.p-tab-navigation-settings-icon {
	-fx-shape: "M7.631 19.702c-0.041 0-0.083-0.005-0.125-0.016-0.898-0.231-1.761-0.587-2.564-1.059-0.233-0.137-0.315-0.434-0.186-0.671 0.159-0.292 0.243-0.622 0.243-0.957 0-1.103-0.897-2-2-2-0.334 0-0.665 0.084-0.957 0.243-0.237 0.129-0.534 0.047-0.671-0.186-0.472-0.804-0.828-1.666-1.059-2.564-0.065-0.254 0.077-0.515 0.325-0.598 0.814-0.274 1.362-1.036 1.362-1.895s-0.547-1.621-1.362-1.895c-0.248-0.084-0.39-0.344-0.325-0.598 0.231-0.898 0.587-1.761 1.059-2.564 0.137-0.233 0.434-0.315 0.671-0.186 0.291 0.159 0.622 0.243 0.957 0.243 1.103 0 2-0.897 2-2 0-0.334-0.084-0.665-0.243-0.957-0.129-0.237-0.047-0.534 0.186-0.671 0.804-0.472 1.666-0.828 2.564-1.059 0.254-0.065 0.515 0.077 0.598 0.325 0.274 0.814 1.036 1.362 1.895 1.362s1.621-0.547 1.895-1.362c0.084-0.248 0.345-0.39 0.598-0.325 0.898 0.231 1.761 0.587 2.564 1.059 0.233 0.137 0.315 0.434 0.186 0.671-0.159 0.292-0.243 0.622-0.243 0.957 0 1.103 0.897 2 2 2 0.334 0 0.665-0.084 0.957-0.243 0.237-0.129 0.534-0.047 0.671 0.186 0.472 0.804 0.828 1.666 1.059 2.564 0.065 0.254-0.077 0.515-0.325 0.598-0.814 0.274-1.362 1.036-1.362 1.895s0.547 1.621 1.362 1.895c0.248 0.084 0.39 0.344 0.325 0.598-0.231 0.898-0.587 1.761-1.059 2.564-0.137 0.233-0.434 0.315-0.671 0.186-0.292-0.159-0.622-0.243-0.957-0.243-1.103 0-2 0.897-2 2 0 0.334 0.084 0.665 0.243 0.957 0.129 0.237 0.047 0.534-0.186 0.671-0.804 0.472-1.666 0.828-2.564 1.059-0.254 0.065-0.515-0.077-0.598-0.325-0.274-0.814-1.036-1.362-1.895-1.362s-1.621 0.547-1.895 1.362c-0.070 0.207-0.264 0.341-0.474 0.341zM10 17c1.127 0 2.142 0.628 2.655 1.602 0.52-0.161 1.026-0.369 1.51-0.622-0.108-0.314-0.164-0.646-0.164-0.98 0-1.654 1.346-3 3-3 0.334 0 0.666 0.056 0.98 0.164 0.253-0.484 0.462-0.989 0.622-1.51-0.974-0.512-1.602-1.527-1.602-2.655s0.628-2.142 1.602-2.655c-0.161-0.52-0.369-1.026-0.622-1.51-0.314 0.108-0.646 0.164-0.98 0.164-1.654 0-3-1.346-3-3 0-0.334 0.056-0.666 0.164-0.98-0.484-0.253-0.989-0.462-1.51-0.622-0.512 0.974-1.527 1.602-2.655 1.602s-2.142-0.628-2.655-1.602c-0.52 0.16-1.026 0.369-1.51 0.622 0.108 0.314 0.164 0.646 0.164 0.98 0 1.654-1.346 3-3 3-0.334 0-0.666-0.056-0.98-0.164-0.253 0.484-0.462 0.989-0.622 1.51 0.974 0.512 1.602 1.527 1.602 2.655s-0.628 2.142-1.602 2.655c0.16 0.52 0.369 1.026 0.622 1.51 0.314-0.108 0.646-0.164 0.98-0.164 1.654 0 3 1.346 3 3 0 0.334-0.056 0.666-0.164 0.98 0.484 0.253 0.989 0.462 1.51 0.622 0.512-0.974 1.527-1.602 2.655-1.602z M10 13c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3-1.346 3-3 3zM10 8c-1.103 0-2 0.897-2 2s0.897 2 2 2c1.103 0 2-0.897 2-2s-0.897-2-2-2z";
}
.p-tab-navigation-tasks-icon {
	-fx-shape: "M17.071 2.929c-1.889-1.889-4.4-2.929-7.071-2.929-3.094 0-5.975 1.425-7.853 3.807v-1.307c0-0.276-0.224-0.5-0.5-0.5s-0.5 0.224-0.5 0.5v2.972c0 0.229 0.155 0.428 0.377 0.485 0.097 0.025 0.195 0.019 0.284-0.011v0l2.853-0.972c0.261-0.089 0.401-0.373 0.312-0.634s-0.373-0.401-0.634-0.312l-1.49 0.508c1.688-2.208 4.32-3.534 7.152-3.534 4.963 0 9 4.037 9 9s-4.037 9-9 9c-3.316 0-6.354-1.815-7.928-4.737-0.131-0.243-0.434-0.334-0.677-0.203s-0.334 0.434-0.203 0.677c1.749 3.246 5.125 5.263 8.809 5.263 2.671 0 5.182-1.040 7.071-2.929s2.929-4.4 2.929-7.071c0-2.671-1.040-5.182-2.929-7.071z M10 10.5c-0.084 0-0.167-0.021-0.243-0.063l-4.5-2.5c-0.241-0.134-0.328-0.438-0.194-0.68s0.438-0.328 0.68-0.194l4.24 2.355 5.249-3.34c0.233-0.148 0.542-0.080 0.69 0.153s0.080 0.542-0.153 0.69l-5.5 3.5c-0.082 0.052-0.175 0.078-0.268 0.078z";
}

/* SETTINGS PANE */
.p-settings-pane {
	-fx-spacing: 0.5em;
	/* -fx-padding: 0.8em; */
}

/* SLIDE LIST */
.p-slide-list {
	-fx-pref-width: 17em; /* ~200px */
}
.p-slide-list-cell {
	-fx-alignment: CENTER;
	-fx-padding: 0.5em 0 0.8em 0;
	-fx-pref-width: 14em;
}
.p-slide-list-cell-slide-view {
	-fx-pref-width: 14.45em; /* ~170px */
	-fx-pref-height: 7.65em; /* ~90px */
}

/* DISPLAY CONTROLLER */
.p-display-controllers {
	-fx-spacing: 0.8em;
	-fx-padding: 0.8em 0.8em 0 0.8em;
}
.p-display-controllers-add-container {
	-fx-padding: 1.3em 0.5em;
}

.p-display-controller {
	-fx-min-width: 51em;
	-fx-padding: 0 0 0.8em 0;
}
.p-display-controller-header {
	-fx-background-color: -fx-base;
	-fx-spacing: 0.5em;
	-fx-padding: 0.5em;
}
.p-display-controller-name {
	-fx-font-size: 1.5em;
}
.p-display-controller-left,
.p-display-controller-right {
	-fx-spacing: 0.5em;
}
.p-display-controller-right {
	-fx-max-width: 34em;
}
.p-display-controller-chk-row {
	-fx-spacing: 0.5em;
	/* -fx-alignment: CENTER; */
}
.p-display-controller-btn-grid {
	-fx-vgap: 0.5em;
	-fx-hgap: 0.5em;
	-fx-padding: 0 0 0 0.5em;
}
.p-display-controller-tabs > .tab-header-area > .headers-region > .tab {
	-fx-padding: 0.25em 1.5em;
}
.p-display-controller-tab {
	-fx-padding: 0.5em 0 0 0.5em;
	-fx-spacing: 0.5em;
}

/* BIBLE NAVIGATION (CONTROLLER) */
.p-bible-nav {
	-fx-hgap: 0.5em;
	-fx-vgap: 0.5em;
}

/* SONG NAVIGATION (CONTROLLER) */
.p-song-nav {
	-fx-spacing: 2em;
}
.p-song-nav-lyric-selection {
	-fx-hgap: 0.5em;
	-fx-vgap: 0.5em;
}
.p-song-nav-sections {
	-fx-hgap: 0.5em;
	-fx-vgap: 0.5em;
}

/* SEARCH MODALS */
.p-bible-search,
.p-song-search {
	-fx-spacing: 0.5em;
	-fx-padding: 0.5em;
}
.p-bible-search-criteria,
.p-song-search-criteria {
	-fx-spacing: 0.5em;
	-fx-hgap: 0.5em;
	-fx-vgap: 0.5em;
}

/* SELECTION EDITOR */
.p-selection-editor {
	-fx-spacing: 0.3em;
}
.p-selection-editor .p-form-field-group > .title {
	-fx-font-size: 1.2em;
}

/* BIBLE/SONG/SLIDE EDITOR */
.p-bible-editor,
.p-song-editor {}
.p-bible-editor-bulk,
.p-song-editor-bulk {
	-fx-spacing: 0.5em;
	-fx-padding: 0.5em;
}
.p-bible-editor-bulk-buttons,
.p-song-editor-bulk-buttons {
	-fx-spacing: 0.5em;
}
.p-bible-editor-bulk-buttons > .button,
.p-song-editor-bulk-buttons > .button {
	-fx-pref-width: 5em;
}


.button:disabled .p-save-all-adder {
	-fx-opacity: 0.4;
}
.p-save-all-adder {
	-fx-fill: -fx-text-base-color;
}
.p-new-adder {
	-fx-background-color: white;
}

/* CONTROLS */
.p-datetime-picker {
	-fx-padding: 0.2em;
}

.p-edit-grid {
	-fx-hgap: 3;
	-fx-vgap: 3;
}

.p-flow-list-view {}
.p-flow-list-view-tiles {
	-fx-padding: 5 5 5 5;
	-fx-vgap: 5;
	-fx-hgap: 5;
}
.p-flow-list-view-cell {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width: 1;
	-fx-border-style: solid;
	-fx-padding: 2 2 2 2;
	-fx-alignment: top-center;
}
.p-flow-list-view-cell:hover { 
	-fx-background-color: -fx-faint-focus-color; /*rgba(153, 209, 255, 0.5)*/
}
.p-flow-list-view-cell:selected {
	-fx-background-color: derive(-fx-faint-focus-color, 20%); /*rgb(204, 232, 255);*/
	-fx-border-color: -fx-faint-focus-color; /*rgb(153, 209, 255)*/
	-fx-border-width: 1;
	-fx-border-style: solid;
}
.p-flow-list-view-drag-selection-area {
	-fx-fill: -fx-faint-focus-color; /*rgba(255, 204, 204, 0.5);*/
	-fx-stroke: -fx-focus-color; /*rgb(255, 153, 153);*/
	-fx-smooth: false;
	-fx-stroke-width: 1;
}

.p-tag-list-view {}
.p-tag-list-view-tags {
	-fx-padding: 0.3em 0 0 0;
	-fx-vgap: 0.2em;
	-fx-hgap: 0.2em;
}
.p-tag-list-view-tag {}

.p-media-preview {}
.p-media-preview-controls {
	-fx-spacing: 0.2em;
	-fx-alignment: CENTER;
	-fx-padding: 0.2em 0 0 0;
}

.p-progress-overlay {
	-fx-background-color: rgba(255, 255, 255, 0.3);
}
.p-progress-overlay-indicator {}

.p-library-item-details {
	-fx-spacing: 0.5em;
	-fx-padding: 1em;
	-fx-pref-width: 255;
	-fx-max-width: 255;
}
.p-library-item-details-value-list {
	-fx-hgap: 0.5em;
	-fx-vgap: 0.5em;
}

.p-action-bar {}

.p-library-list {}
.p-library-list-left {
	-fx-pref-width: 270;
	-fx-max-width: 270;
}
.p-library-list-filter-bar {
	-fx-vgap: 0.5em;
	-fx-hgap: 0.5em;
	-fx-padding: 0.5em;
}
.p-library-list-cell {
	-fx-alignment: top-center;
	-fx-pref-width: 110;
}
.p-library-list-cell-graphic {
	-fx-alignment: bottom-center;
	-fx-pref-height: 100;
	-fx-max-height: 100;
	-fx-min-height: 100;
}
.p-library-list-cell-bible > .p-library-list-cell-thumbnail {
	-fx-image: url("/org/praisenter/images/bible-icon.png");
}
.p-library-list-cell-song > .p-library-list-cell-thumbnail {
	-fx-image: url("/org/praisenter/images/song-lyrics-icon.png");
}
.p-library-list-cell-slide,
.p-library-list-cell-image,
.p-library-list-cell-bible,
.p-library-list-cell-song,
.p-library-list-cell-audio {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 2, 0, 2, 2);
}
.p-library-list-cell-slide {
	-fx-background-image: url("/org/praisenter/images/transparent.png");
	-fx-background-repeat: repeat;
}
.p-library-list-cell-label {
	-fx-text-alignment: center;
	-fx-padding: 0.5em 0 0 0;
}

.p-slide-template-list-cell {}
.p-slide-template-list-cell-graphic {
	-fx-background-image: url("/org/praisenter/images/transparent.png");
	-fx-background-repeat: repeat;
}

.p-about {}
.p-about-left,
.p-about-right {
	-fx-padding: 1em;
	-fx-spacing: 1em;
}