/** tree cell drag n drop styles */
.tree-cell:drag-over-parent {
	-fx-background-color: rgba(153, 209, 255, 0.5);
}

.tree-cell:drag-over-sibling-top {
	-fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 1 0 0 0;
}

.tree-cell:drag-over-sibling-bottom {
	-fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
}

/* ============== Components ================= */

/* BibleEditorPane */
.bible-editor-pane {}
.bible-editor-pane-tree-view {}
.bible-tree-cell {}
.bible-tree-cell-verse-number {
	-fx-font-weight: bold; 
	-fx-font-size: 0.8em;
}