<?xml version="1.0" encoding="UTF-8"?><plist version="1.0">
<array>
	<dict>
		<key>BundleHasStrictIdentifier</key>
		<true/>
		<key>BundleIsRelocatable</key>
		<false/>
		<key>BundleIsVersionChecked</key>
		<true/>
		<key>BundleOverwriteAction</key>
		<string>upgrade</string>
		
		
		<key>RootRelativeBundlePath</key>
		<string>Praisenter.app</string>
	</dict>
</array>
</plist>